@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 70px;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: white;
    border-bottom: 1px solid black;
    background: linear-gradient(to bottom, #cc3300 0%, #ff3300 100%);
    text-shadow: -1px -1px 0px rgb(255, 217, 0), 1px -1px 0px rgb(255, 217, 0), -1px 1px 0px rgb(255, 217, 0), 1px 1px 0px rgb(255, 217, 0);
}

header a, header h1 {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

.menu-items {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 18px 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    width: 90%;
    max-width: 500px;
    background: white;
    transition: all 0.3s;
}

.menu-item:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.menu-item .symbol {
    position: absolute;
    font-size: 28px;
    font-weight: bold;
}

.menu-item .left { left: 15px; }
.menu-item .right { right: 15px; }

.menu-item a, .menu-item Link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}